html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: white url(/img/geometry.png);
	font-family: Coda, cursive;
}

.container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

h1 {
	font-weight: 300;
}

/* Score Panel */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .fa-star {
	color: #ccc;
}

.score-panel .fa-star.shine {
	color: #ffde00;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* Deck + Cards */

.deck {
	width: 700px;
	min-height: 700px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 40px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	margin: 0 0 3em;
}

.deck .card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 125px;
	height: 125px;
	background: #2e3d49;
	font-size: 0;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
}

.deck .card.show {
	font-size: 32px;
}

.deck .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 32px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	animation-duration: .75s;
	background: #e2043b;
}

.deck .card.disabled {
	pointer-events: none;
}

/* animations */

@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}